.hidden-form {
  overflow-y: hidden;
  max-height: 500px; /* approximate max height */
  margin: 25px 0;

  transition-property: all;
  transition-duration: 0.5s;
}

.hidden-form.hidden {
  max-height: 0;
}

.hidden {
  display: none;
}
